{% extends "global/base.html" %} {% block content %}
<div class="single-contact">
  <div>
    <img src="{{contact.photo}}" alt="photo_profile" />
    <h1 class="single-contact-name"><b>{{contact.name}}</b></h1>
  </div>
  <!-- <h1 class="single-contact-name"><b>{{contact.name}}</b></h1> -->
  <p><b>ID:</b> {{contact.id}}</p>
  <p><b>E-mail:</b> {{contact.email}}</p>
  <p><b>created in:</b> {{contact.created_date}}</p>
  <p><b>Phone:</b> {{contact.phone}}</p>
  <p><b>Description:</b> {{contact.description}}</p>
  <p><b>Category:</b> {{contact.category.name}}</p>
</div>
{% endblock content %}
