{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}" />
    <title>{{title_page}} Agenda</title>
  </head>
  <body>
    {% include 'global/_header.html' %} {% include 'global/_message.html' %}
    <main class="content">{% block content %}{% endblock content %}</main>
    {% include 'global/_pagination.html' %}
  </body>
</html>
